//- Init HTML

doctype html
html(lang='fr')
	head
		meta(charset='UTF-8')
		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		)
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		meta(
			http-equiv='Content-Style-Type'
			content='text/css'
		)
		meta(
			name='author'
			content='Aurélien Grimaud'
		)
		meta(
			name='description'
			content='Jean-Bobby rocks that playlist!'
		)

		title Jean-Bobby Radio
		
		link(
			href='stylesheets/main.min.css'
			rel='stylesheet'
			media='all'
			type='text/css'
		)
		link(
			href='stylesheets/plyr.css'
			rel='stylesheet'
			media='all'
			type='text/css'
		)
		link(
			href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'
			rel='stylesheet'
			media='all'
			type='text/css'
		)

	body
		block content
			| HERE WE GO !
