//- Play button

.play-cta

	input(type='checkbox' name='play')

	button.play-cta__btn.plyr__controls__item.plyr__control.play-cta__btn--sunset.play-cta__btn--smooth-sunset
		svg.icon--pressed(
			role='presentation'
			focusable="false"
		)
			use(xlink:href='#plyr-pause')
		svg.icon--not-pressed(
			role='presentation'
			focusable='false'
		)
			use(xlink:href='#plyr-play')

	//-.play-cta__screens.play-cta__screens--radial-sunset.play-cta__screens--linear-sunset

	.play-cta__label
		h1.play-cta__label--play
			each val in ['P','l','a','y']
				span= val
		h1.play-cta__label--pause
			each val in ['P','a','u','s', 'e']
				span= val
